.cta {
    min-height: 3.333rem;
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
    border-radius: 3rem;
    width: 12.083rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s;
    @include linkStates($color-white, none);
    @include atSmall {
        min-height: 2.5rem;
        width: 9.0625rem;
    }

    &:hover {
        background-color: transparent;
        @include linkStates($color-primary-light, none);
    }

    &--small {
        min-height: 2.9167rem;
        width: 10.833rem;
        @include atSmall {
            min-height: 2.1875rem;
            width: 8.125rem;
        }
    }

    &--bg {
        &-primary {
            background-color: $color-primary;
            border-color: $color-primary;

            &:hover {
                @include linkStates($color-primary, none);
            }
        }
    }
}